<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="../css/footer.css">
  <link rel="stylesheet" href="../css/global.css">

  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
  >
</head>
<body>

  <footer class="rodape" id="footer">
    <div class="containerRodape">

      <div class="marcaRodape">
        <div class="areaLogo">
          <img src="../assets/img/logoBranco.png" alt="Manifestar Tarot">

          <div class="textoLogo">
            <h1>MANIFESTAR</h1>
            <h2>TAROT</h2>
          </div>
        </div>
      </div>

      <div class="secaoRodape navegacaoRodape">
        <div class="conteudoRodape">
          <h3>Navegação</h3>

          <div class="linksRodape">
            <div>
              <a href="./index.html">Início</a>
              <a href="./sobremim.html">Sobre mim</a>
              <a href="./leituras.html">Leituras</a>
            </div>

            <div>
              <a href="./banhos.html">Banhos</a>
              <a href="#footer">Contato</a>
            </div>
          </div>
        </div>
      </div>

      <div class="secaoRodape contatoRodape">
        <div class="conteudoRodape">
          <h3>Fale comigo</h3>

          <a href="https://wa.me/5500000000000" target="_blank">
            <i class="fa-brands fa-whatsapp"></i>
            WhatsApp
          </a>

          <a href="https://instagram.com/manifestartarot" target="_blank">
            <i class="fa-brands fa-instagram"></i>
            Instagram
          </a>

          <a href="mailto:contato@manifestartarot.com">
            <i class="fa-regular fa-envelope"></i>
            Email
          </a>
        </div>
      </div>

      <div class="intuicaoRodape">
        <p>Confie na sua intuição</p>

        <div class="linhaRodape">
          <span></span>
          <strong>✦</strong>
          <span></span>
        </div>
      </div>

    </div>
  </footer>

</body>
</html>
