<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/global.css">

    <link rel="apple-touch-icon" sizes="180x180" href="../assets/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="../assets/favicon_io/site.webmanifest">

</head>
<body>
    <header class="header">
    <div class="logo-area">
      <img src="../assets/img/logoBranco.png" alt="Manifestar Tarot">
      <div class="textoLogo">
      <h1>MANIFESTAR</h1>
      <h2>TAROT</h2>
      </div>
    </div>

    <nav class="menu">
      <a href="./index.html">Início</a>
      <a href="./sobremim.html">Sobre mim</a>
      <a href="./leituras.html">Leituras</a>
      <a href="./banhos.html">Banhos</a>
      <a href="#footer">Contatos</a>
    </nav>

    <button class="header-btn" type="button">Agendar leitura</button>
  </header>
</body>
</html>
